<%- include("partials/header"); -%>

<form class="searchTab" action="/" method="post">
  <label class="movie-search-query" for="nameInput">Movie Name: </label>
  <input id="nameInput" type="text" name="movieName">
  <button class="btn btn-sm btn-primary" type="submit">Search</button>
</form>

<%- include("partials/footer"); -%>
