@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

body {
  background-color: #280A45;
  font-family: 'Gentium Plus', sans-sans-serif;
}

/**********************************************RESULTS PAGE**********************************************/

img {
  width: 100%;
  border-radius: 10px;
}

.container-fluid {
  text-align: center;
}

.container {
  max-width: 225px;
  margin-top: 5vh;
  display: inline-block;
}

.card {
  background-color: white;
  padding: 10px;

  border-radius: 10px;
  border: 1px solid black;
}

.genre {
  border: 1px solid black;
  border-radius: 50px;
  padding: 4px 8px;

}

.name {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-link {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}

.addButton {
  border: none;
  font-weight: 600;
  display: block;
  margin: 0 auto;
  margin-top: 17px;
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.addButton:hover {
  background-color: black;
  color: white;
}

.card-details {
  padding: 4px;
}

/*********************************************HOME PAGE*************************************************/

.whiteLabel {
  color: white;
  font-size: 1.3rem;
}

.searchSection {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40vh;
}

.buttonsContainer {
  margin-top: 3vh;
}

.homeLinks {
  padding:5px 20px 5px 20px;
  margin: 7px 7px 7px 0;
  font-size: 1.3rem;
  background-color: black;
  border-radius: 20px;
  color: white;
}

.homeLinks:hover {
  color: #44E3D3;
}

/*********************************************REGISTER PAGE*************************************************/

.registerContainer {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 25vh;
}

/*********************************************LOGIN PAGE*************************************************/

.loginContainer {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 35vh;
}
